@import "tailwindcss";

@theme {
  --color-primary: #4A69AD;
  --color-primary-dark: #2D3966;
  --color-accent: #F3E844;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
